<div class="row">
  <div class="col-xs-6">
    <h1>{{ test.student }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Test <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditTest()">Edit Test</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteTest()">Delete Test</a></li>
      </ul>
    </div>
  </div>
</div>
