<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <router-outlet></router-outlet>
      <app-englishtest1></app-englishtest1>
      <app-englishtest2></app-englishtest2>
      <app-englishtest3></app-englishtest3>
      <app-mathtest1></app-mathtest1>
      <app-mathtest2></app-mathtest2>
      <app-mathtest3></app-mathtest3>
      <app-sciencetest1></app-sciencetest1>
      <app-sciencetest2></app-sciencetest2>
      <app-sciencetest3></app-sciencetest3>
    </div>
  </div>
</div>
